@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');

:root {
  --tx-rgb: 255, 255, 255;
  --bg-second-rgb: 4, 17, 29;

  --bg-main: rgb(32, 34, 37);
  --bg-second: rgb(var(--bg-second-rgb));
  --bg-alt: rgb(48, 51, 57);

  --tx-main: rgb(255, 255, 255);
  --tx-second: #5F5F6E;
  --bg-grey:  rgb(53, 56, 64);
  --bdr-grey:  rgb(21, 27, 34);
  --bg-shadow: rgb(4 17 29 / 25%);

  --base: rgb(32, 129, 226);

  --nav-height: 64px;
}

html,
body {
  padding: 0;
  margin: 0;

  font-family: 'Poppins', sans-serif;

  height: 100%;
  min-height: 100%;

  background-color: var(--bg-main);
  color: var(--tx-main);
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}

#__next {
  height: 100%;
  min-height: 100%;
}

.app-main {
  min-height: 100%;
  background-color: var(--bg-main);
  padding: 0 16px;
  padding-top: 72px;
}

.app-main.overflow-is-hidden {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

/* HEADER SECTION */
.app-nav-wrapper {
  box-shadow: var(--bg-shadow) 0px 0px 8px 0px;
  width: 100%;
  height: var(--nav-height);
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 10;
  background-color: var(--bg-second);
}

.app-nav {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0 16px;
}

.app-nav__routes-and-actions {
  height: 100%;
}

.app-nav__routes-and-actions.mobile {
  padding: 20px;
  padding-right: 0;
}

.app-nav__routes-and-actions__routes__a {
  padding: 0 20px;
  color: rgba(var(--tx-rgb), 0.75);
  font-weight: 600;
  font-size: 16px;
  transition: 0.2s ease-in-out;
  position: relative;
}

.app-nav__routes-and-actions__routes__a--active,
.app-nav__routes-and-actions__routes__a:hover {
  color: rgba(var(--tx-rgb), 1);
}

.app-nav__routes-and-actions__routes__a--active::after {
  background-color: var(--base);
}

.app-nav__routes-and-actions__routes__a--active::after {
  transition: background-color 0.4s ease 0s;
  bottom: -22px;
  content: "";
  display: block;
  height: 5px;
  left: 0px;
  position: absolute;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.app-nav__routes-and-actions__actions {
  height: 100%;
}

.app-nav__routes-and-actions__actions > svg,
.app-nav__routes-and-actions__actions > div > svg {
  margin: 0 20px;
  color: rgba(var(--tx-rgb), 0.65);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.app-nav__routes-and-actions__actions > svg:hover,
.app-nav__routes-and-actions__actions > div > svg:hover {
  color: rgba(var(--tx-rgb), 0.95);
}

.app-nav__routes-and-actions__actions > svg:last-child,
.app-nav__routes-and-actions__actions > div > svg:last-child {
  margin-right: 0;
}
/* HEADER SECTION ENDS */

/* SIDEBAR SECTION */
.app-sidebar {
  width: 420px;
  height: 100%;
  min-height: 100vh;
  background-color: var(--bg-alt);
  box-shadow: 10px 1px 0px rgba(0, 0, 0, 0.05);
  transition: margin-right 0.15s ease-in-out;

  position: fixed;
  z-index: 9;
  right: 0;
  margin-right: -420px;
  padding-top: var(--nav-height);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-sidebar:before {
  background-color: transparent;
}

.app-sidebar.show {
  margin-right: 0;
  transition: margin-right 0.3s ease-in-out;
}

.app-sidebar.show:before {
  content: "";
  width: 100%;
  background-color: rgba(0,0,0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
  z-index: 8;
}

.app-sidebar__body {
  background-color: var(--bg-alt);
  height: 100%;
  padding: 16px 0;
  z-index: 10;
}

.app-sidebar__body .app-nav__routes-and-actions__routes__a {
  width: 100%;
  display: block;
}

.app-sidebar__body .app-nav__routes-and-actions__routes__a--active::after {
  bottom: -16px;
  height: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.app-sidebar__body__theme-toggle {
  color: rgba(var(--tx-rgb), 0.75);
  padding: 0px 20px;
  width: 100%;
  font-size: 16px;
}

.app-sidebar__body__theme-toggle:focus {
  box-shadow: none;
  outline: none;
}
/* SIDEBAR SECTION ENDS */

/* SWITCH SECTION */
.switch__wrapper {
  border-radius: 100px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 6px;
  height: 24px;
  width: 48px;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
  background-color: var(--bg-grey);
}

.switch__wrapper--checked {
  background-color: var(--base);
}

.switch__wrapper__input {
  appearance: none;
  width: 14px;
  height: 14px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-out 0s;
  transform: translateX(0);
}

.switch__wrapper__input:checked {
  transform: translateX(22px);
}
/* SWITCH SECTION ENDS */

/* DROPDOWN SECTION */
.dropdown__wrapper {
  height: 100%;
}

.dropdown__item__wrapper {
  min-width: 250px;
  min-height: 56px;
  max-height: 0;
  display: block;
  background-color: var(--bg-alt);
  box-shadow: var(--bg-shadow) 0px 0px 8px 0px;
  border-radius: 0 0 10px 10px;
  top: 66px;
  right: 0;
  z-index: 11;

  visibility: hidden;
  margin-top: -1000px;
  transition-delay: 0.2s;
}

.dropdown__wrapper:hover .dropdown__item__wrapper,
.dropdown__item__wrapper:hover {
  visibility: visible;
  margin-top: 0;
  height: auto;
  max-height: 100%;
}

.dropdown__item {
  padding: 16px;
  transition: 0.2s ease-in-out;
}

.dropdown__item:last-child {
  border-radius: 0 0 10px 10px;
}

.dropdown__item:hover {
  background-color: var(--bg-second);
}

.dropdown__item .app-sidebar__body__theme-toggle.mt-20 {
  margin: 0;
  padding: 0;
}
/* DROPDOWN SECTION ENDS */

/* CATEGORIES SECTION */
.categories-section__ul {
  padding: 0px 8px;
  list-style: none;
  margin: 2rem 0;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.categories-section__li {
  padding: 12px 0;
}

.categories-section__li__a {
  padding: 0 20px;
  height: 100%;
  color: rgba(var(--tx-rgb), 0.75);
  font-weight: 600;
  font-size: 16px;
  transition: 0.2s ease-in-out;
  position: relative;
  text-transform: capitalize;
}

.categories-section__li__a--active, .categories-section__li__a:hover {
  color: rgba(var(--tx-rgb), 1);
}

.categories-section__li__a--active::after {
  transition: background-color 0.4s ease 0s;
  bottom: -10px;
  content: "";
  display: block;
  height: 4px;
  left: 0px;
  position: absolute;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.categories-section__li__a--active::after {
  background-color: var(--base);
}

.categories-section__ul::-webkit-scrollbar {
  width: 0;
  height: 3px;
}

.categories-section__ul::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.categories-section__ul::-webkit-scrollbar-thumb {
  background: transparent;
  height: 10px;
  border-radius: 4px;
  border-bottom-right-radius: 0;
}

.categories-section__ul::-webkit-scrollbar-thumb:hover {
  background: transparent;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  transition-delay: 0.15s;
}
/* CATEGORIES SECTION ENDS */

/* MARKET SECTION */
.market-section {
  padding: 35px 0;
}

.market-section__h1-title {
  color: var(--tx-main);
}

.items-grid-wrapper {
  display: grid;
  gap: 2rem;
  column-gap: 2rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.items-grid-wrapper__item {
  border-radius: 10px;
  position: relative;
}

.items-grid-wrapper__item__img {
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.items-grid-wrapper__item__content {
  position: absolute;
  bottom: 0;
  height: 120px;
  width: 100%;
  padding: 10px 16px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 10px 10px;
  color: #fff;
  transition-delay: 0.15s;
  transition: 0.5s ease;
  text-align: center;
}

.items-grid-wrapper__item__content__h5 {
  display: -webkit-box;
  max-width: calc(100% - 24px);
  margin-top: 1px;
  margin-right: 4px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.items-grid-wrapper__item__content__p {
  opacity: 0.9;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.items-grid-wrapper__item__content__bt {
  padding: 10px 0;
}

.items-grid-wrapper__item__content__bt__price svg {
  height: 18px;
  width: 20px;
  margin-top: -1px;
}
/* MARKET SECTION ENDS */

/* ASSET DETAILS SECTION */
.asset-details-section {
  padding: 20px 0;
  max-width: 100%;
  margin: auto;
}

.asset-details-section__wrapper {
  margin: 0 -0.75rem;
}

.asset-details-section__asset-img {
  border-radius: 10px 10px 0 0;
  height: 440px;
  object-fit: cover;
}

.asset-details-section__owner {
  color: var(--base);
}

.asset-details-section__owner-hash {
  color: rgb(138, 147, 155);
}

.asset-details-section__owner-hash a {
  color: var(--base);
}

.asset-details-section__owner-hash.light {
  color: rgb(112, 122, 131);
}

.asset-details-section__card {
  border-radius: 10px;
  background-color: var(--bg-alt);
  border: 1px solid var(--bdr-grey);
  color: rgb(138, 147, 155);
}

.asset-details-section__card.rt-none {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.asset-details-section__card.rb-none {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.asset-details-section__card__header,
.asset-details-section__card__body {
  padding: 20px;
}

.asset-details-section__card__body p {
  color: var(--tx-main);
}

.asset-details-section__card__body a {
  color: var(--base);
}

.asset-details-section__card__header {
  background-color: rgb(38, 43, 47);
  border-bottom: 1px solid var(--bdr-grey);
  color: var(--tx-main);
}

.light .asset-details-section__card__header {
  background-color: var(--bg-second);
}

.asset-details-section__card__unit {
  color: var(--tx-main);
}

.asset-details-section__card__unit svg {
  width: 26px;
  height: 23px;
  margin-left: -5px;
  margin-right: 3px;
}

.asset-details-section__card__button {
  display: inline-flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 10px;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  background-color: rgb(32, 129, 226);
  border: 1px solid rgb(32, 129, 226);
  color: rgb(255, 255, 255);
  transition: all 0.2s ease 0s;
}

.asset-details-section__card__button:focus {
  box-shadow: none;
  outline: none;
}

.asset-details-section__card__button:hover {
  background-color: rgb(66, 160, 255);
}

.light .asset-details-section__card__button:hover {
  background-color: var(--base);
}

.asset-details-section__card__button--offer {
  background-color: var(--bg-grey);
  border: 1px solid var(--bdr-grey);
  color: rgb(229, 232, 235);
}

.asset-details-section__card__button--offer:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(76, 80, 92);
}


.light .asset-details-section__card__button--offer {
  background-color: var(--bg-main);
  border: 1px solid  rgb(32, 129, 226);
  color:  rgb(32, 129, 226);
}

.light .asset-details-section__card__button--offer:hover {
  background-color: rgb(32, 129, 226);
  border: 1px solid  var(--base);
  color:  var(--bg-second);
}
/* ASSET DETAILS SECTION ENDS */

.app-nav,
.app-main {
  width: 90%;
}
