@media (min-width: 640px) {
  .items-grid-wrapper {
    gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .items-grid-wrapper__item {
    height: 335px;
  }
}

@media (max-width: 639px) {
  .items-grid-wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .items-grid-wrapper {
    gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .items-grid-wrapper {
    gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .asset-details-section {
    width: 960px;
  }
}

@media (min-width: 1280px) {
  .items-grid-wrapper__item {
    height: 355px;
  }

  .asset-details-section {
    width: 1160px;
  }
}

@media (min-width: 1420px) {
  .items-grid-wrapper {
    gap: 1.5rem;
    column-gap: 1.5rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .items-grid-wrapper__item {
    height: 345px;
  }
}

@media (min-width: 2436px) {
  .items-grid-wrapper {
    gap: 1.5rem;
    column-gap: 1.5rem;
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
